/* Inter Fonts Import - font-family: 'Inter', sans-serif; (400-600bold) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&family=Dongle&family=Exo:wght@500&family=Inter:wght@400;600&family=Kanit:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,700&family=Mynerve&family=Open+Sans:wght@300;400&family=Signika+Negative&family=Tilt+Neon&family=Ubuntu:wght@300&display=swap");

header {
  width: 1440px;
  padding: 80px 52px 48px 52px;
  margin: 0 auto;
}

/* Header Section style */
.header_container,
.cards_container {
  width: 1336px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_box {
  width: 716px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #282828;
  font-weight: 600;
  font-feature-settings: "clig" off, "liga" off;
}

.team_box_title {
  font-size: 54px;
  line-height: 62px;
  letter-spacing: -1px;
}

.team_box_about {
  color: #5f6980;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 35px;
}

/* Cards Content Style */

.cards_container {
  height: 908px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.cards_user_box {
  width: 310px;
  height: 430px;
  border: 1px solid #eaecf0;
}
.user_info_content {
  padding: 0px 16px;
  margin:16px 0;
}
.employee_name {
  color: #282828;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.employee_status,
.employee_about {
  color: #3e3e59;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; 
  font-family: "Inter", sans-serif;
}

.employee_about {
  color: #5F6980;
  margin: 8px 0 24px;
}

.icon_box {
  width: 140px;
  display: flex;
  justify-content: space-between;
}